.verticalSpan {
  min-height: 83%;
}
.verticalSpan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://raw.githubusercontent.com/michellebessa/meal-plan-final-project/382043667daab97dd4e7b02791b085fa3d877d49/src/front/img/project-pic.jpg");
  background-size: cover;
  z-index: -100;
  filter: saturate(125%) blur(5px);
}
.navbar-brand {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  background-color: #aa8b56;
}
.footer {
  background-color: #aa8b56;
}
.btn {
  padding: 0px;
}
.fas {
  font-size: 25px;
  color: #c5d8a4;
  width: 30px;
}
span {
  margin-left: 40%;
}
.buttonfooter {
  margin-left: 5%;
  float: right;
}
.footer {
  height: 6%;
}
.expiration1 {
  border: 1px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.expiration2 {
  text-align: center;
  border-top: 1px solid black;
}
img {
  width: 300px;
  border-radius: 50%;
}
#foodcategories {
  border: 0px;
  margin-bottom: 10px;
  border-radius: 10%;
  background-color: rgb(245, 245, 244, 0.5);
}
.btn {
  background-color: #aa8b56;
  margin-left: 5px;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  color: #aa8b56;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  color: #aa8b56;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 2px 2px 5px black;
}
#mealplannershopping, #recipes {
  background-color: whitesmoke;
  width: 60%;
  margin: auto;
  text-align: center;
}
.homedescription {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  color: #224b0c;
  background-color: rgb(245, 245, 244, 0.5);
  width: 50%;
  margin-left: 25%;
}
.homedescription2 {
  margin-left: 5%;
  margin-right: 5%;
}
.hometitle {
  margin-top: 5%;
  padding-top: 10px;
}

#imghome {
  border-radius: 0px;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
}
.inputmealplanner {
  width: 100%;
  text-align: center;
  margin-bottom:5px;
}
.contactus {
  border: 1px solid black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  background-color: #2b4e1b;
}
.contactus2 {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: white;
}
.contactus3 {
  color: white;
}
.contactustittle {
  margin-top: 3%;
}
.col-md-6 {
  margin-left: 10%;
}
.col-md-12 {
  margin-left: 10%;
  width: 60%;
  color: white;
}
.list-unstyled {
  margin: auto;
}
.contactusinfo {
  color: white;
  padding: 0px;
}
.contactusbtn {
  width: 10%;
  margin-left: 35%;
}
#recipesicon{
  padding-top:0px;
}
#mealmap {
  width: 30px;
  color:green;
  margin:0px;
}