#dailymealplanner {
  background-color: whitesmoke;
  width: 60%;
  margin-left: 40%;
  text-align: center;
}
#mealplannershopping {
  background-color: whitesmoke;
  width: 60%;
  margin-right: 40%;
  text-align: center;
}
.inputmealplanner {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.mealmap {
  width: 30px;
  margin-right: 0px;
  margin-left: -20px;
  color: #2b4e1b;
  margin:auto;
}
.dailymealplannerdescription {
  color: #2b4e1b;
}
.accordion {
  border-color: white;
}
