#mealplannershopping {
  background-color: whitesmoke;
  width: 60%;
  margin: auto;
  text-align: center;
}
.inputmealplanner {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
#mealmap {
  width: 30px;
  color: green;
  margin: 0px;
}
.dailymealplannerdescription{
  color:#2b4e1b;
}
