.barcodeimg {
  border-radius: 0px;
  width: 60%;
}
.barcodebutton {
  margin-left: 13%;
  margin-top:10px;
}
#barcodecol1 {
  float: left;
  margin-left:10%;
  margin-top: 3%;
  padding-left:0px;
}
#barcodecol2 {
  float: right;
  margin-top: 3%;
  padding-right:0px;
}
.barcodeinfo{
    color:white;
    margin-top:25%;
}
.pantryscandescription{ 
  border: 1px solid #2b4e1b;
  background-color: #2b4e1b;
  color: white;
  width:60%;
  text-align: center;
}
.pantryscandescription2{ 
  border: 1px solid #2b4e1b;
  background-color: #2b4e1b;
  color: white;
  width:70%;
  text-align: center;
}
#pantryaccordion{
  width: 70%;
}
.pantrylisttitle{
  text-align:center;
  color: #2b4e1b;
  background-color:white;
  margin:0px;
}
.accordion-header{
  border-radius:0px;
  border-color:white;
}
