#pantryaccordion{
  width: 50%;
  margin:auto;
  margin-top:5%;
}
.pantrylisttitle{
  text-align:center;
  background-color:white;
  margin:0px;
  
}
.accordion-header{
  border-radius:0px;
  border-color:white;
}
.itemname{
  float:left;
}
.expirationdate{
  color:red;
  float:right;
}
.accordion-body{
  padding-top:0px;

}.expirationdate2{
  float:right;
  color:rgb(231, 142, 39);
}
.expirationdate3{
  float:right;
  color: green;
}
.inputpantry{
  width:50%;
}
.inputpantry1{
  float:left;
}
.inputpantry2{
  float:right;
}
#pantryplaceholder1{
  float:left;
}
#pantryplaceholder2{
  float:right;
}